include README.md
include LICENSE
include CHANGELOG.md
include 说明.md
include 帮助系统.md
include 设计文档.md
include 启动.bat
include 启动.sh
include 发布打包.py
recursive-include 公共区 *.py *.json *.html *.css *.js *.md *.png
recursive-include 引擎管理 *.json
recursive-include 隐私区 *.json *.gitkeep
recursive-include tests *.py
recursive-include public *.py
